{;; Area Team Lens - recipes

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; NHS Constitution

 :constitution [{:resource-id "215f73ee-41b3-40fa-8ea7-b6d13f1337ec"
                 :dataset-id "board_report"
                 :description "Indicator 132: Maximum two-week wait for first outpatient appointment for patients referred urgently with suspected cancer by a GP"
                 :indicator-id "132"
                 :metadata {:date "01-04-2014" :period_of_coverage "April 2014 to June 2014"
                            :lens_grouping "Area Team"}
                 :lens :area-team
                 :alias "132-area-team"
                 :division-fields [:within_14_days :total]}

                {:resource-id "afb3049d-78f6-4048-9a4e-6638d2688e0d"
                 :indicator-id "133"
                 :metadata {:date "01-04-2014" :period_of_coverage "April 2014 to June 2014"
                            :lens_grouping "Area Team"}
                 :lens :area-team
                 :alias "133-area-team"
                 :division-fields [:within_14_days :total]}

                {:resource-id "0a873564-0a18-4edc-b7e8-5cadc40eecec"
                 :indicator-id "134"
                 :metadata {:date "01-04-2014" :period_of_coverage "April 2014 to June 2014"
                            :lens_grouping "Area Team"}
                 :lens :area-team
                 :alias "134-area-team"
                 :division-fields [:after_31_days :total]}

                {:resource-id "0a873564-0a18-4edc-b7e8-5cadc40eecec"
                 :indicator-id "135"
                 :metadata {:date "01-04-2014" :period_of_coverage "April 2014 to June 2014"
                            :lens_grouping "Area Team"}
                 :lens :area-team
                 :alias "135-area-team"
                 :division-fields [:after_31_days :total]}

                {:resource-id "e560de1c-8a06-49a6-969c-11535c3ef2e6"
                 :indicator-id "136"
                 :metadata {:date "01-04-2014" :period_of_coverage "April 2014 to June 2014"
                            :lens_grouping "Area Team"}
                 :lens :area-team
                 :alias "136-area-team"
                 :division-fields [:after_31_days :total]}

                {:resource-id "dadfd925-f491-46f3-92c1-f84959325969"
                 :indicator-id "137"
                 :metadata {:date "01-04-2014" :period_of_coverage "April 2014 to June 2014"
                            :lens_grouping "Area Team"}
                 :lens :area-team
                 :alias "137-area-team"
                 :division-fields [:after_31_days :total]}

                {:resource-id "e01fc8b5-6c9b-4a56-9063-4b170cc97dee"
                 :indicator-id "138"
                 :metadata {:date "01-04-2014" :period_of_coverage "April 2014 to June 2014"
                            :lens_grouping "Area Team"}
                 :lens :area-team
                 :alias "138-area-team"
                 :division-fields [:after_62_days :total_treated]}

                {:resource-id "d07d271c-5933-4eb2-a70b-ef7551563269"
                 :indicator-id "139"
                 :metadata {:date "01-04-2014" :period_of_coverage "April 2014 to June 2014"
                            :lens_grouping "Area Team"}
                 :lens :area-team
                 :alias "139-area-team"
                 :division-fields [:after_62_days :total_treated]}

                {:resource-id "212b6adb-3196-4854-af7d-1f146a2d3ec9"
                 :indicator-id "140"
                 :metadata {:date "01-04-2014" :period_of_coverage "April 2014 to June 2014"
                            :lens_grouping "Nation"}
                 :lens :area-team
                 :alias "140-area-team"
                 :division-fields [:after_62_days :total_treated]}]}
